<div ng-cloak class="videos">
	<div class="display">
		<i class="mdi mdi-view-headline"
			ng-class="{active: display == 'list'}"
			ng-click="changeDisplay('list')"></i> <i class="mdi mdi-view-list"
			ng-class="{active: display == 'card'}"
			ng-click="changeDisplay('card')"></i> <i class="mdi mdi-view-week"
			ng-class="{active: display == 'poster'}"
			ng-click="changeDisplay('poster')"></i>
	</div>
	<div ng-class="display" ng-repeat="video in videos">
		<div class="video" ng-class="{favoris: video.favoris}">
			<i class="mdi mdi-star"></i>
			<i class="mdi mdi-star-outline"></i>
			<table>
				<tr>
					<img class="cover" ng-src="video.imgFile.path" />
						<div class="content">
							<h4>{{video.title}}</h4>
							<p class="year">{{video.year}}</p>
							<p class="duration">{{video.duration}}</p>
							<p class="addDate">{{video.addDate}}</p>

							<div class="rate s9Stars s9Stars {{video.rate}}" title="{{video.rate}}/10"></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
