<div ng-controller="CreateVideoController"><div ng-controller="ScanFolderController">
<ng-include src="'/scripts/app/videos/modal/scanFolderPanel/scanFolderPanel.html'"></ng-include>
<ng-include src="'/scripts/app/videos/modal/createVideoPanel/createVideoPanel.html'"></ng-include>
 
<div ng-cloak id="videos-container" class="videos" ng-class="display">       
	<div class="display">
		<form class="form-inline">
			<span><b>{{videos.length}}</b> vidéos</span>
			
			<input ng-model="filterName" type="text" placeholder="Filtrer par" autofocus>
		
			<label>Trier par</label>
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default" ng-click="orderBy('title')" ng-class="{active: orderField == 'title'}">Titre</button>
				<button type="button" class="btn btn-default" ng-click="orderBy('year')" ng-class="{active: orderField == 'year'}">Année</button>
				<button type="button" class="btn btn-default" ng-click="orderBy('duration')" ng-class="{active: orderField == 'duration'}">Durée</button>
				<button type="button" class="btn btn-default" ng-click="orderBy('addDate')" ng-class="{active: orderField == 'addDate'}">Date d'ajout</button>
				<button type="button" class="btn btn-default" ng-click="orderBy('favoris')" ng-class="{active: orderField == 'favoris'}">Favoris</button>
				<button type="button" class="btn btn-default" ng-click="orderBy('rate')" ng-class="{active: orderField == 'rate'}">Note</button>
			</div>
			
			<select class="form-control" ng-model="filterType">
				<option value="">Tous les genres</option>
				<option ng-repeat="type in types" value="{{type.name}}">{{type.name}}</option>
			</select>
			
			<div class="btn-group right" role="group" aria-label="...">
				<button type="button" class="btn btn-default" ng-class="{active: display == 'list'}" ng-click="changeDisplay('list')"><i class="mdi mdi-view-headline"></i></button>
				<button type="button" class="btn btn-default" ng-class="{active: display == 'card'}" ng-click="changeDisplay('card')"><i class="mdi mdi-view-list"></i></button>
				<button type="button" class="btn btn-default" ng-class="{active: display == 'poster'}" ng-click="changeDisplay('poster')"><i class="mdi mdi-view-week"></i></button>
			</div>
		</form>
	</div>
	<div ng-class="{favoris: video.favoris}" class="video" ng-repeat="video in videos | filter:filterFunction | orderBy: orderField : reverseOrder">
		<i class="star-icon mdi mdi-star-outline" ng-click="::toggleFav(video)"></i>
 		<img class="cover" ng-src="/cover/{{::video.imgFile.path}}" />
		<div class="content">
			<h4>{{::video.title}}</h4>
			<p class="year">{{::video.year}}</p>
			<p class="duration">{{::video.duration | duration}}</p>
			<p class="addDate">{{::video.addDate | date:'dd/MM/yyyy'}}</p>
			<i class="rate" ng-class="::video.rate | rate" title="{{::video.rate}}"></i>
			<p class="type"><span ng-repeat="type in ::video.videoTypes">{{::type.name}}{{$last ? '' : ', '}}</span></p>
			<i class="play-icon mdi mdi-play-box-outline" ng-click="::play(video.id)"></i>
			<i class="info-icon mdi mdi-information-outline" ng-click="::info(video.imdbId)"></i>
		</div>
	</div>
</div>
</div></div>
