<i id="scan-folder" class="mdi mdi-file-find left-icon" ng-click="showScanModal()" title="Rechercher de nouveaux fichiers"></i>
<div class="modal fade" id="scanFolderPanel" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
                <h4 class="modal-title">Vidéos à charger</h4>
            </div>
            <div class="modal-body">
            	<ul>
            		<li ng-repeat="file in listScanFiles"><a href="#" ng-click="showCreateModalWithFileAndSubs(file.videoPath, file.subPath)">{{file.videoPath}}</a></li>
            	</ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                </button>
            </div>
	    </div>
	</div>
</div>